.App{
    display:flex;
    flex-direction: row;
    
}

#phoneDetails{
    max-width: 50%;
    text-align: center;
    margin-right:200px
}

#phonesList{
    margin:50px;
    background-color: rgb(225, 241, 209);
    padding:10px;
    border-radius: 10px;
    box-shadow: 6px 6px 15px 6px #888888;
    height:100%
}

#each-phone{
    margin:10px;
}

.no-decoration{
    text-decoration: none;
}